https://www.codecademy.com/courses/big-data-pyspark/lessons/pyspark-rdd-lesson/exercises/start-coding-with-pyspark

# PySpark - start coding

## SparkSession - entry point to Spark

In [1]:
from pyspark.sql import SparkSession
student_data = [("Chris",1523,0.72,"CA"),
                ("Jake", 1555,0.83,"NY"),
                ("Cody", 1439,0.92,"CA"),
                ("Lisa",1442,0.81,"FL"),
                ("Daniel",1600,0.88,"TX"),
                ("Kelvin",1382,0.99,"FL"),
                ("Nancy",1442,0.74,"TX"),
                ("Pavel",1599,0.82,"NY"),
                ("Josh",1482,0.78,"CA"),
                ("Cynthia",1582,0.94,"CA")]

In [2]:
# start a SparkSession and assign it the name spark
spark = SparkSession.builder.getOrCreate()

## change data into RDD

In [3]:
# data can be stored on a distributed file system or just on our local machine
# default number of partiions is the number of CPU cores on our local machine
student_rdd = spark.sparkContext.parallelize(student_data, 5)

# check your data
student_rdd.collect()

[('Chris', 1523, 0.72, 'CA'),
 ('Jake', 1555, 0.83, 'NY'),
 ('Cody', 1439, 0.92, 'CA'),
 ('Lisa', 1442, 0.81, 'FL'),
 ('Daniel', 1600, 0.88, 'TX'),
 ('Kelvin', 1382, 0.99, 'FL'),
 ('Nancy', 1442, 0.74, 'TX'),
 ('Pavel', 1599, 0.82, 'NY'),
 ('Josh', 1482, 0.78, 'CA'),
 ('Cynthia', 1582, 0.94, 'CA')]

In [4]:
# check how many partitions we created
student_rdd.getNumPartitions()

5

## transform the data

In [5]:
# convert data in the third column from decimals to whole numbers
# sabe a new RDD as rdd_transformation
rdd_transform = student_rdd.map(lambda x: (x[0], x[1], x[2] * 100, x[3]))

# check your data
rdd_transform.collect()

[('Chris', 1523, 72.0, 'CA'),
 ('Jake', 1555, 83.0, 'NY'),
 ('Cody', 1439, 92.0, 'CA'),
 ('Lisa', 1442, 81.0, 'FL'),
 ('Daniel', 1600, 88.0, 'TX'),
 ('Kelvin', 1382, 99.0, 'FL'),
 ('Nancy', 1442, 74.0, 'TX'),
 ('Pavel', 1599, 82.0, 'NY'),
 ('Josh', 1482, 78.0, 'CA'),
 ('Cynthia', 1582, 94.0, 'CA')]

## filter the data

In [6]:
# filter data to just those rows with grades above 80
rdd_filtered = rdd_transform.filter(lambda x: x[2] > 80)
rdd_filtered.collect()

[('Jake', 1555, 83.0, 'NY'),
 ('Cody', 1439, 92.0, 'CA'),
 ('Lisa', 1442, 81.0, 'FL'),
 ('Daniel', 1600, 88.0, 'TX'),
 ('Kelvin', 1382, 99.0, 'FL'),
 ('Pavel', 1599, 82.0, 'NY'),
 ('Cynthia', 1582, 94.0, 'CA')]

## actions

In [7]:
# show only first 5 elements of rdd_filtered
rdd_filtered.take(5)

[('Jake', 1555, 83.0, 'NY'),
 ('Cody', 1439, 92.0, 'CA'),
 ('Lisa', 1442, 81.0, 'FL'),
 ('Daniel', 1600, 88.0, 'TX'),
 ('Kelvin', 1382, 99.0, 'FL')]

In [8]:
# calculate the sum of grades in rdd_filtered
sum_gpa = rdd_transform.map(lambda x: x[2]).reduce(lambda x,y: x+y)
sum_gpa

843.0

In [9]:
# calculate the average
sum_gpa / rdd_transform.count()

84.3

## glom function

In [ ]:
# glom function - we can check how our data is partitioned and what the result of math operations is

In [10]:
data = [1,2,3,4,5]
for i in range(1,5):
    rdd = spark.sparkContext.parallelize(data, i)
    print('partition: ', rdd.glom().collect())
    print('addition: ', rdd.reduce(lambda a,b: a+b))

partition:  [[1, 2, 3, 4, 5]]
addition:  15
partition:  [[1, 2], [3, 4, 5]]
addition:  15
partition:  [[1], [2, 3], [4, 5]]
addition:  15
partition:  [[1], [2], [3], [4, 5]]
addition:  15

In [11]:
for i in range(1,5):
    rdd = spark.sparkContext.parallelize(data, i)
    print('partition: ', rdd.glom().collect())
    print('division: ', rdd.reduce(lambda a,b: a/b))

partition:  [[1, 2, 3, 4, 5]]
division:  0.008333333333333333
partition:  [[1, 2], [3, 4, 5]]
division:  3.3333333333333335
partition:  [[1], [2, 3], [4, 5]]
division:  1.875
partition:  [[1], [2], [3], [4, 5]]
division:  0.20833333333333331

Conclusions - reduce() must be **commutative** and **associative**

## broadcast variables

In [12]:
# create dictionary of states
states = {"NY": "New York", "CA": "California",
         "TX": "Texas", "FL": "Florida"}

In [13]:
# broadcast the dictionary to Spark Cluster
broadcastStates = spark.sparkContext.broadcast(states)
type(broadcastStates)

pyspark.broadcast.Broadcast

In [14]:
rdd_broadcast = student_rdd.map(lambda x: (x[0], x[1], x[2], broadcastStates.value[x[3]]))
rdd_broadcast.collect()

[('Chris', 1523, 0.72, 'California'),
 ('Jake', 1555, 0.83, 'New York'),
 ('Cody', 1439, 0.92, 'California'),
 ('Lisa', 1442, 0.81, 'Florida'),
 ('Daniel', 1600, 0.88, 'Texas'),
 ('Kelvin', 1382, 0.99, 'Florida'),
 ('Nancy', 1442, 0.74, 'Texas'),
 ('Pavel', 1599, 0.82, 'New York'),
 ('Josh', 1482, 0.78, 'California'),
 ('Cynthia', 1582, 0.94, 'California')]

## Accumulator variables

Accumulator variables
- can be **updated**
- primarily used as counters or sums
- they are similar to the sum and count functions in NumPy

In [26]:
# create the accumaulator variable starting at 0
sat_1500 = spark.sparkContext.accumulator(0)
type(sat_1500)

pyspark.accumulators.Accumulator

In [27]:
# create a function that increments our accumulator by 1 whenever it encounters a score of over 1500
def count_high_sat_score(x):
    if x > 1500:
        sat_1500.add(1)
        
print(count_high_sat_score)

<function count_high_sat_score at 0x0000011237B91360>

In [28]:
# call a function count_high_sat_scorethat will apply the function to each element in rdd_broadcast
rdd_broadcast.foreach(lambda x: count_high_sat_score(x[1]))
print(sat_1500)

5