# Spark SQL - introduction

## Initialize Spark SQl Session

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession\
        .builder\
        .master('local[*]')\
        .config('spark.app.name', 'learning_spark_sql')\
        .getOrCreate()

sample_page_views  = spark.sparkContext.parallelize([
    ["en", "Statue_of_Liberty", "2022-01-01", 263],
    ["en", "Replicas_of_the_Statue_of_Liberty", "2022-01-01", 11],
    ["en", "Statue_of_Lucille_Ball" ,"2022-01-01", 6],
    ["en", "Statue_of_Liberty_National_Monument", "2022-01-01", 4],
    ["en", "Statue_of_Liberty_play"  ,"2022-01-01", 3],  
])

In [12]:
type(spark)

pyspark.sql.session.SparkSession

In [13]:
type(spark.sparkContext)

pyspark.context.SparkContext

## DataFrames

In [16]:
# Create a DataFrame from sample_page_views
sample_page_views_df = sample_page_views.toDF(["language_code", "title", "date", "count"])

# Show first 5 rows
sample_page_views_df.show(5, truncate=False)

+-------------+-----------------------------------+----------+-----+
|language_code|title                              |date      |count|
+-------------+-----------------------------------+----------+-----+
|en           |Statue_of_Liberty                  |2022-01-01|263  |
|en           |Replicas_of_the_Statue_of_Liberty  |2022-01-01|11   |
|en           |Statue_of_Lucille_Ball             |2022-01-01|6    |
|en           |Statue_of_Liberty_National_Monument|2022-01-01|4    |
|en           |Statue_of_Liberty_play             |2022-01-01|3    |
+-------------+-----------------------------------+----------+-----+

In [17]:
# Access he RDD
sample_page_views_rdd_restored = sample_page_views_df.rdd

# show restored RDD
sample_page_views_rdd_restored.collect()

[Row(language_code='en', title='Statue_of_Liberty', date='2022-01-01', count=263),
 Row(language_code='en', title='Replicas_of_the_Statue_of_Liberty', date='2022-01-01', count=11),
 Row(language_code='en', title='Statue_of_Lucille_Ball', date='2022-01-01', count=6),
 Row(language_code='en', title='Statue_of_Liberty_National_Monument', date='2022-01-01', count=4),
 Row(language_code='en', title='Statue_of_Liberty_play', date='2022-01-01', count=3)]

## Create DataFrame from External Source

In [27]:
# Create DataFrame from csv
csv_data_df = spark.read\
              .option('header', True) \
              .option('delimiter', ';') \
              .option('inferSchema', True) \
              .csv('csv_sample.csv')

inferSchema
- True - Spark will automatically go through the csv file and infer the schema of each column
- False - Spark will give a dataframe where all columns are strings (StringType)

In [28]:
# check your csv file
csv_data_df.show(5, truncate=False)

+---------------------+---------------------+---------------------+
|Animal               |Average Length (Feet)|Average Weight (Tons)|
+---------------------+---------------------+---------------------+
|African Bush Elephant|19,70                |5,40                 |
|Indian Rhinoceros    |13,80                |2,10                 |
|Hippopotamus         |16,50                |2,00                 |
|Giraffe              |16,90                |1,10                 |
|Gaur                 |12,50                |1,00                 |
+---------------------+---------------------+---------------------+

In [29]:
# check the data types
csv_data_df.dtypes

[('Animal', 'string'),
 ('Average Length (Feet)', 'string'),
 ('Average Weight (Tons)', 'string')]

## Validation and cleaning data

In [31]:
# what is schema of the file?
csv_data_df.printSchema()

root
 |-- Animal: string (nullable = true)
 |-- Average Length (Feet): string (nullable = true)
 |-- Average Weight (Tons): string (nullable = true)

In [33]:
# d
csv_data_desc = csv_data_df.describe()
csv_data_desc.show(truncate=False)

+-------+---------------------+---------------------+---------------------+
|summary|Animal               |Average Length (Feet)|Average Weight (Tons)|
+-------+---------------------+---------------------+---------------------+
|count  |5                    |5                    |5                    |
|mean   |NULL                 |NULL                 |NULL                 |
|stddev |NULL                 |NULL                 |NULL                 |
|min    |African Bush Elephant|12,50                |1,00                 |
|max    |Indian Rhinoceros    |19,70                |5,40                 |
+-------+---------------------+---------------------+---------------------+

In [38]:
# drop column
csv_data_desc.drop('Average Length (Feet)')
csv_data_desc.show()

+-------+--------------------+---------------------+---------------------+
|summary|              Animal|Average Length (Feet)|Average Weight (Tons)|
+-------+--------------------+---------------------+---------------------+
|  count|                   5|                    5|                    5|
|   mean|                NULL|                 NULL|                 NULL|
| stddev|                NULL|                 NULL|                 NULL|
|    min|African Bush Elep...|                12,50|                 1,00|
|    max|   Indian Rhinoceros|                19,70|                 5,40|
+-------+--------------------+---------------------+---------------------+